trunk/Main/Web References/QuickErpWebService/QuickErp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://quicktijarat.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://quicktijarat.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://quicktijarat.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportXmlFileToDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_CompanyID" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="_UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_FileNameWithPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="_ToDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="_ExportFile" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="_TargetConnectionStringPara" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportXmlFileToDatabaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportXmlFileToDatabaseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ImportXmlFileToDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:ImportXmlFileToDatabase" />
  </wsdl:message>
  <wsdl:message name="ImportXmlFileToDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:ImportXmlFileToDatabaseResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportXmlFileToDatabase">
      <wsdl:input message="tns:ImportXmlFileToDatabaseSoapIn" />
      <wsdl:output message="tns:ImportXmlFileToDatabaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://quicktijarat.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportXmlFileToDatabase">
      <soap:operation soapAction="http://quicktijarat.com/ImportXmlFileToDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://quicktijarat.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportXmlFileToDatabase">
      <soap12:operation soapAction="http://quicktijarat.com/ImportXmlFileToDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://uniformers.net/quickerpwebservice/QuickErp.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://uniformers.net/quickerpwebservice/QuickErp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>